* text=auto !eol
/README.TXT -text
src/mylib/ColorPickerCB.cpp -text
src/mylib/ColorPickerCB.h -text
src/mylib/ColorStatic.cpp -text
src/mylib/ColorStatic.h -text
src/mylib/CommsLamp.cpp -text
src/mylib/CommsLamp.h -text
src/mylib/DragSizerBmp.cpp -text
src/mylib/MYLIB.APS -text
src/mylib/MYLIB.dep -text
src/mylib/MYLIB.dsp -text
src/mylib/MYLIB.dsw -text
src/mylib/MYLIB.mak -text
src/mylib/MYLIB.ncb -text
src/mylib/MYLIB.opt -text
src/mylib/MYLIB.plg -text
src/mylib/MYLIB.rc -text
src/mylib/MYLIB.sln -text
src/mylib/MYLIB.suo -text
src/mylib/MYLIB.vcproj -text
src/mylib/MYLIB.vcproj.HOME2.Conrad.user -text
src/mylib/MicroTick.cpp -text
src/mylib/MicroTick.h -text
src/mylib/Readme.txt -text
src/mylib/Resizer.cpp -text
src/mylib/Script1.aps -text
src/mylib/StatLink.cpp -text
src/mylib/StatLink.h -text
src/mylib/StdAfx.cpp -text
src/mylib/StdAfx.h -text
src/mylib/Tools.h -text
src/mylib/ado.cpp -text
src/mylib/ado.h -text
src/mylib/cadoclass.htm -text
src/mylib/dregkey.cpp -text
src/mylib/makezip.bat -text
src/mylib/msado15.tlh -text
src/mylib/msado15.tli -text
src/mylib/myhand.cur -text
src/mylib/myhandcu.cur -text
src/mylib/mylib.clw -text
src/mylib/mylib.cpp -text
src/mylib/mylib.h -text
src/mylib/resource.h -text
