* text=auto !eol
/README.TXT -text
src/Setup/Setup.vdproj -text
src/mod_RSsim/123.vbs -text
src/mod_RSsim/ABComms.cpp -text
src/mod_RSsim/ABCommsProcessor.cpp -text
src/mod_RSsim/ABCommsProcessor.h -text
src/mod_RSsim/About.cpp -text
src/mod_RSsim/About.h -text
src/mod_RSsim/ActiveScriptHost.cpp -text
src/mod_RSsim/ActiveScriptHost.h -text
src/mod_RSsim/AdvEmulationDlg.cpp -text
src/mod_RSsim/AdvEmulationDlg.h -text
src/mod_RSsim/AnimationSettings.cpp -text
src/mod_RSsim/AnimationSettings.h -text
src/mod_RSsim/CSVFileImportDlg.cpp -text
src/mod_RSsim/CSVFileImportDlg.h -text
src/mod_RSsim/CSVReader.cpp -text
src/mod_RSsim/CSVReader.cpp.bak -text
src/mod_RSsim/CSVReader.h -text
src/mod_RSsim/ColorPickerCB.cpp -text
src/mod_RSsim/ColorPickerCB.h -text
src/mod_RSsim/CommsLamp.cpp -text
src/mod_RSsim/CommsLamp.h -text
src/mod_RSsim/CreditStatic.cpp -text
src/mod_RSsim/CreditStatic.h -text
src/mod_RSsim/DDKSocket.cpp -text
src/mod_RSsim/DDKSocket.h -text
src/mod_RSsim/DDKSrvSocket.cpp -text
src/mod_RSsim/DDKSrvSocket.h -text
src/mod_RSsim/EasterDlg.cpp -text
src/mod_RSsim/EasterDlg.h -text
src/mod_RSsim/EditMemoryDlg.cpp -text
src/mod_RSsim/EditMemoryDlg.h -text
src/mod_RSsim/FaultsDlg.cpp -text
src/mod_RSsim/FaultsDlg.h -text
src/mod_RSsim/FileEditCtrl.cpp -text
src/mod_RSsim/FileEditCtrl.h -text
src/mod_RSsim/HtmlOutput.h -text
src/mod_RSsim/MOD232CommsProcessor.cpp -text
src/mod_RSsim/MOD232CommsProcessor.h -text
src/mod_RSsim/MODEthCommsProcessor.cpp -text
src/mod_RSsim/MODEthCommsProcessor.h -text
src/mod_RSsim/MOD_RSsimDlg.cpp -text
src/mod_RSsim/MOD_RSsimDlg.h -text
src/mod_RSsim/MemWriteLock.cpp -text
src/mod_RSsim/MemWriteLock.h -text
src/mod_RSsim/MemoryEditorList.cpp -text
src/mod_RSsim/MemoryEditorList.h -text
src/mod_RSsim/MicroTick.cpp -text
src/mod_RSsim/MicroTick.h -text
src/mod_RSsim/MyHostProxy.cpp -text
src/mod_RSsim/MyHostProxy.h -text
src/mod_RSsim/PLCApplication.cpp -text
src/mod_RSsim/RS232Noise.cpp -text
src/mod_RSsim/RS232Noise.h -text
src/mod_RSsim/RS232Port.cpp -text
src/mod_RSsim/RS232Port.h -text
src/mod_RSsim/ReadMe.txt -text
src/mod_RSsim/Resizer.cpp -text
src/mod_RSsim/Resizer.h -text
src/mod_RSsim/ServerSettings232Dlg.cpp -text
src/mod_RSsim/ServerSettings232Dlg.h -text
src/mod_RSsim/ServerSettingsEthDlg.cpp -text
src/mod_RSsim/ServerSettingsEthDlg.h -text
src/mod_RSsim/ServerSocketArray.cpp -text
src/mod_RSsim/ServerSocketArray.h -text
src/mod_RSsim/SimCmdLine.cpp -text
src/mod_RSsim/SimCmdLine.h -text
src/mod_RSsim/Splash.cpp -text
src/mod_RSsim/Splash.h -text
src/mod_RSsim/StarWarsCtrl.cpp -text
src/mod_RSsim/StarWarsCtrl.h -text
src/mod_RSsim/StdAfx.cpp -text
src/mod_RSsim/StdAfx.h -text
src/mod_RSsim/Tools.h -text
src/mod_RSsim/TrainingSimDlg.cpp -text
src/mod_RSsim/TrainingSimDlg.h -text
src/mod_RSsim/UTIL.CPP -text
src/mod_RSsim/UpdateCheck.cpp -text
src/mod_RSsim/UpdateCheck.h -text
src/mod_RSsim/_README.CPP -text
src/mod_RSsim/help/images/CVS/Entries -text
src/mod_RSsim/help/images/CVS/Entries.Extra -text
src/mod_RSsim/help/images/CVS/Entries.Extra.Old -text
src/mod_RSsim/help/images/CVS/Entries.Old -text
src/mod_RSsim/help/images/CVS/Repository -text
src/mod_RSsim/help/images/CVS/Root -text
src/mod_RSsim/help/images/advmbus.gif -text
src/mod_RSsim/help/images/anim.gif -text
src/mod_RSsim/help/images/joyshot.gif -text
src/mod_RSsim/help/images/juice.gif -text
src/mod_RSsim/help/images/portA.gif -text
src/mod_RSsim/help/images/shot1.gif -text
src/mod_RSsim/help/images/shot2.gif -text
src/mod_RSsim/help/images/toolbar.gif -text
src/mod_RSsim/help/index.htm -text
src/mod_RSsim/htmloutput.cpp -text
src/mod_RSsim/joysccemulation.cpp -text
src/mod_RSsim/joysccemulation.h -text
src/mod_RSsim/license.txt -text
src/mod_RSsim/message.cpp -text
src/mod_RSsim/message.h -text
src/mod_RSsim/mod_RSsim.aps -text
src/mod_RSsim/mod_RSsim.clw -text
src/mod_RSsim/mod_RSsim.cpp -text
src/mod_RSsim/mod_RSsim.dep -text
src/mod_RSsim/mod_RSsim.dsp -text
src/mod_RSsim/mod_RSsim.dsw -text
src/mod_RSsim/mod_RSsim.h -text
src/mod_RSsim/mod_RSsim.mak -text
src/mod_RSsim/mod_RSsim.odl -text
src/mod_RSsim/mod_RSsim.opt -text
src/mod_RSsim/mod_RSsim.plg -text
src/mod_RSsim/mod_RSsim.rc -text
src/mod_RSsim/mod_RSsim.sln -text
src/mod_RSsim/mod_RSsim.vcproj -text
src/mod_RSsim/mod_RSsim.vcproj.HOME2.Conrad.user -text
src/mod_RSsim/mod_RSsim_home.htm -text
src/mod_RSsim/msado15.tlh -text
src/mod_RSsim/msado15.tli -text
src/mod_RSsim/myhandcu.cur -text
src/mod_RSsim/output.html -text
src/mod_RSsim/plantsim.h -text
src/mod_RSsim/processor.h -text
src/mod_RSsim/random.vbs -text
src/mod_RSsim/res/MOD_RSsim.rc2 -text
src/mod_RSsim/res/MOD_RSsimul.ico -text
src/mod_RSsim/res/RTStimes.ico -text
src/mod_RSsim/res/bitmap1.bmp -text
src/mod_RSsim/res/bitmap2.bmp -text
src/mod_RSsim/res/bmp00001.bmp -text
src/mod_RSsim/res/bmp00002.bmp -text
src/mod_RSsim/res/bmp00003.bmp -text
src/mod_RSsim/res/bmp00004.bmp -text
src/mod_RSsim/res/bmp00005.bmp -text
src/mod_RSsim/res/circuit2.jpg -text
src/mod_RSsim/res/creditbm.bmp -text
src/mod_RSsim/res/cursor1.cur -text
src/mod_RSsim/res/drag.bmp -text
src/mod_RSsim/res/ico00001.ico -text
src/mod_RSsim/res/ico00002.ico -text
src/mod_RSsim/res/idr_main.ico -text
src/mod_RSsim/res/multisla.bmp -text
src/mod_RSsim/res/shot1.jpeg -text
src/mod_RSsim/res/shot2.jpeg -text
src/mod_RSsim/res/splash_artwork.jpeg -text
src/mod_RSsim/res/toolbar1.bmp -text
src/mod_RSsim/resource.h -text
src/mod_RSsim/serverRS232array.cpp -text
src/mod_RSsim/serverRS232array.h -text
src/mod_RSsim/simport.cpp -text
src/mod_RSsim/simport.h -text
src/mod_RSsim/util.h -text
src/mod_RSsim/versioninfo.txt -text
src/mylib/ColorPickerCB.cpp -text
src/mylib/ColorPickerCB.h -text
src/mylib/ColorStatic.cpp -text
src/mylib/ColorStatic.h -text
src/mylib/CommsLamp.cpp -text
src/mylib/CommsLamp.h -text
src/mylib/DragSizerBmp.cpp -text
src/mylib/FileEditCtrl.cpp -text
src/mylib/FileEditCtrl.h -text
src/mylib/MYLIB.APS -text
src/mylib/MYLIB.dep -text
src/mylib/MYLIB.dsp -text
src/mylib/MYLIB.dsw -text
src/mylib/MYLIB.mak -text
src/mylib/MYLIB.opt -text
src/mylib/MYLIB.plg -text
src/mylib/MYLIB.rc -text
src/mylib/MYLIB.sln -text
src/mylib/MYLIB.suo -text
src/mylib/MYLIB.vcproj -text
src/mylib/MYLIB.vcproj.HOME2.Conrad.user -text
src/mylib/MicroTick.cpp -text
src/mylib/MicroTick.h -text
src/mylib/Readme.txt -text
src/mylib/Resizer.cpp -text
src/mylib/Script1.aps -text
src/mylib/StatLink.cpp -text
src/mylib/StatLink.h -text
src/mylib/StdAfx.cpp -text
src/mylib/StdAfx.h -text
src/mylib/Tools.h -text
src/mylib/ado.cpp -text
src/mylib/ado.h -text
src/mylib/cadoclass.htm -text
src/mylib/dregkey.cpp -text
src/mylib/makezip.bat -text
src/mylib/msado15.tlh -text
src/mylib/msado15.tli -text
src/mylib/myhand.cur -text
src/mylib/myhandcu.cur -text
src/mylib/mylib.clw -text
src/mylib/mylib.cpp -text
src/mylib/mylib.h -text
src/mylib/resource.h -text
src/testserver/DataBuffer.cpp -text
src/testserver/DataBuffer.h -text
src/testserver/DjSocket.cpp -text
src/testserver/DjSocket.h -text
src/testserver/MTransportProvider.cpp -text
src/testserver/MTransportProvider.h -text
src/testserver/ReadMe.txt -text
src/testserver/Resource.h -text
src/testserver/StdAfx.cpp -text
src/testserver/StdAfx.h -text
src/testserver/TestCaseLoopbk.cpp -text
src/testserver/TestCaseLoopbk.h -text
src/testserver/TestCaseMBForceMultipleCoils.cpp -text
src/testserver/TestCaseMBForceMultipleCoils.h -text
src/testserver/TestCaseMBReadHolding.cpp -text
src/testserver/TestCaseMBReadHolding.h -text
src/testserver/TestSvr.aps -text
src/testserver/TestSvr.clw -text
src/testserver/TestSvr.cpp -text
src/testserver/TestSvr.dsp -text
src/testserver/TestSvr.dsw -text
src/testserver/TestSvr.h -text
src/testserver/TestSvr.opt -text
src/testserver/TestSvr.plg -text
src/testserver/TestSvr.rc -text
src/testserver/TestSvr.sln -text
src/testserver/TestSvr.suo -text
src/testserver/TestSvr.vcproj -text
src/testserver/TraceData.cpp -text
src/testserver/TraceData.h -text
src/testserver/abstract_factory.h -text
src/testserver/singleton.h -text
